* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
}

div.avatar-container {
    border: 5px solid #f4730a;
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #f4730a;
    border-radius: 50% 50% 3px 50%;
    margin-bottom: 10px;
}

.orange-border {
    height: 4px;
    width: 130px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #f4730a;
    border-radius: 2px;
}

.black-border {
    position: relative;
    border-bottom: 2px solid #323232;
    padding-bottom: 8px;
}

.black-border:after {
    content: '';
    height: 4px;
    width: 132px;
    position: absolute;
    bottom: -4px;
    left: -1px;
    background-color: #f4730a;
    border-radius: 2px;
}

#avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

h1, h2, .subheader, p, ul {
    font-family: 'Lora', serif;
    color: #000000;
}

p {
    margin-bottom: 10px;
}

p span.highlight {
    font-weight: 700;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    color: #323232
}

p.contact-info {
    font-size: 9px;
    font-weight: 100;
    color: #555e70;
    white-space: pre-line;
    line-height: 1.5;
}

.subheader {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-top: 10px;
}

.header-text {
    display: inline-block;
    margin-left: 50px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;

}

.column-2 {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    margin-left: 4px;
    padding-top: 8px;
}

.column-1 {
    padding-top: 4px;
}

ul {
    margin-left: 16px;
    margin-bottom: 10px;
}

table p {
    white-space: pre-line;
}

